<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../views/partials/head %>
</head>
<body>

	<% include ../views/partials/header %>
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>List your schedule below.</h1>
            </div>
        </div>
		<div class="row">
		<div class="col-lg-12 text-center">
			<form action="/api/schedule" method="post" role="form">
			  <div class="form-group col-xs-6 col-lg-offset-3">
				<input type="text" class="form-control" name="inputSchedule" placeholder="待辦事項">
			  </div> 
			</form>	
		</div>
		</div>
        <!-- /.row -->

		<div class="row">
				<div class="col-lg-12">       
                <table class="table">
				<thead>
			    <tr>
				<th>新增日期</th>
				<th>待辦內容</th>
				<th>操作</th>
				</tr>
				</thead>
				<tbody>
				<% schedules.forEach(function(schedule) { %>
					<tr>
					<td  class="col-md-4"><%= schedule.createdAt %> </td>
					<td	 class="col-md-6" ><%= schedule.body %></td>
					<td	 class="col-md-2">
					<div>
					<form method="POST" action="/api/schedule/<%=schedule._id%>?_method=DELETE">
					<button type="submit">刪除</button>
					</form>
					
					</div>

					<!--<div><a href="/">修改</a></div>-->
					</td>
					</tr>
				<% }); %>
				<tbody>
			</div>
		</div>
    </div>
</body>

</html>
